Repository RikoGit/kladde: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Add mult component
  src/components/App.jsx
  src/components/Memoji/index.jsx
  src/components/Memoji/styles.css
  src/components/Mult/index.jsx
  src/components/Mult/styles.css
Due: eslint --fix, stylelint --fix

Add kittens and memoji components
  .eslintrc.yml
  src/components/App.jsx
  src/components/Kittens/index.jsx
  src/components/Kittens/styles.css
  src/components/Memoji/index.jsx
  src/components/Mult/index.jsx
  src/components/Mult/styles.css
  src/routes.js
Due: eslint --fix, stylelint --fix

Add Harvest component
  .eslintrc.yml
  src/components/App.jsx
  src/components/Foo/index.jsx
  src/components/Foo/styles.css
  src/pages/Harvest/index.jsx
  src/pages/Harvest/styles.css
  src/pages/Kittens/index.jsx
  src/pages/Kittens/styles.css
  src/pages/Memoji/index.jsx
  src/pages/Memoji/styles.css
  src/pages/Mult/index.jsx
  src/pages/Mult/styles.css
  src/routes.js
  static/images/harvest/1.jpg
  static/images/harvest/10.jpeg
  static/images/harvest/11.jpeg
  static/images/harvest/13.jpg
  static/images/harvest/14.jpg
  static/images/harvest/16.jpg
  static/images/harvest/2.jpg
  static/images/harvest/3.jpg
  static/images/harvest/4.jpg
  static/images/harvest/5.jpg
  static/images/harvest/6.jpg
  static/images/harvest/9.jpg
  static/images/kittens/abyss/1.jpg
  static/images/kittens/abyss/2.jpg
  static/images/kittens/abyss/4.jpg
  static/images/kittens/brit/1.jpeg
  static/images/kittens/rg/1.jpg
  static/images/kittens/rg/2.jpg
  static/images/kittens/rg/3.jpg
  static/images/kittens/rg/4.jpg
  static/images/kittens/rg/5.jpg
  static/images/kittens/siam/1.jpeg
  static/images/kittens/siam/2.jpg
  static/images/kittens/siam/3.jpg
  static/images/kittens/siam/6.jpg
Due: eslint --fix, stylelint --fix

Add Form component
  src/components/App.jsx
  src/pages/Form/index.jsx
  src/pages/Form/styles.css
  src/pages/Harvest/styles.css
  src/pages/Kittens/index.jsx
  src/pages/Kittens/styles.css
  src/pages/Memoji/index.jsx
  src/pages/Memoji/styles.css
  static/global.css
  static/index.html
Due: eslint --fix, stylelint --fix

Add Todo component and VanillaMemoji VanillaForm components
  package.json
  src/components/App.jsx
  src/pages/Index/index.jsx
  src/pages/Todo/index.jsx
  src/pages/VanillaForm/index.jsx
  src/pages/VanillaForm/styles.css
  src/pages/VanillaMemoji/index.jsx
  src/pages/VanillaMemoji/styles.css
  src/routes.js
Due: eslint --fix, stylelint --fix

Add TodoList and TodoItem components
  src/pages/Harvest/index.jsx
  src/pages/Kittens/index.jsx
  src/pages/Kittens/styles.css
  src/pages/Memoji/index.jsx
  src/pages/Memoji/styles.css
  src/pages/Todo/components/TodoItem/index.jsx
  src/pages/Todo/components/TodoItem/styles.css
  src/pages/Todo/components/TodoList/index.jsx
  src/pages/Todo/components/TodoList/styles.css
  src/pages/Todo/index.jsx
  src/pages/Todo/styles.css
  src/pages/VanillaMemoji/index.jsx
  src/pages/VanillaMemoji/styles.css
  static/global.css
Due: eslint --fix, stylelint --fix

Add script.jsx for VanillaMemoji component
  src/components/App.jsx
  src/pages/Harvest/index.jsx
  src/pages/Memoji/Memoji/index.jsx
  src/pages/Memoji/VanillaMemoji/index.jsx
  src/pages/Memoji/VanillaMemoji/script.jsx
  src/pages/Memoji/components/MemojiList/index.jsx
  src/pages/Memoji/components/MemojiList/styles.css
  src/pages/Todo/index.jsx
Due: eslint --fix, stylelint --fix

Separation js file for vanillaMemoji
  src/components/App.jsx
  src/components/MemojiList/commonStyles.css
  src/components/MemojiList/components/Card/index.jsx
  src/components/MemojiList/components/Card/script.js
  src/components/MemojiList/components/Cards/index.jsx
  src/components/MemojiList/components/Cards/script.js
  src/components/MemojiList/components/Cards/styles.css
  src/components/MemojiList/components/Popup/index.jsx
  src/components/MemojiList/components/Popup/script.js
  src/components/MemojiList/components/Popup/styles.css
  src/components/MemojiList/components/Timer/index.jsx
  src/components/MemojiList/components/Timer/script.js
  src/components/MemojiList/components/Timer/styles.css
  src/components/MemojiList/index.jsx
  src/components/MemojiList/styles.css
  src/pages/Memoji/VanillaMemoji/index.jsx
  src/pages/Memoji/VanillaMemoji/script.jsx
  src/pages/Memoji/components/MemojiList/index.jsx
  src/pages/Memoji/components/MemojiList/styles.css
  src/pages/Memoji/index.jsx
  src/pages/VanillaMemoji/index.jsx
  src/pages/VanillaMemoji/script.js
  src/pages/VanillaMemoji/styles.css
Due: eslint --fix, stylelint --fix

Add script for VanillaForm
  src/components/App.jsx
  src/components/FormContent/index.jsx
  src/components/FormContent/styles.css
  src/components/MemojiContent/commonStyles.css
  src/components/MemojiContent/components/Card/index.jsx
  src/components/MemojiContent/components/Card/script.js
  src/components/MemojiContent/components/Game/index.jsx
  src/components/MemojiContent/components/Game/script.js
  src/components/MemojiContent/components/Game/styles.css
  src/components/MemojiContent/components/Popup/index.jsx
  src/components/MemojiContent/components/Popup/script.js
  src/components/MemojiContent/components/Popup/styles.css
  src/components/MemojiContent/components/Timer/index.jsx
  src/components/MemojiContent/components/Timer/script.js
  src/components/MemojiContent/components/Timer/styles.css
  src/components/MemojiContent/gameData.js
  src/components/MemojiContent/index.jsx
  src/components/MemojiContent/styles.css
  src/components/MemojiList/components/Cards/index.jsx
  src/pages/Form/index.jsx
  src/pages/Joke/components/JokeItem/index.jsx
  src/pages/Joke/index.jsx
  src/pages/Joke/jokeData.js
  src/pages/Memoji/index.jsx
  src/pages/VanillaForm/index.jsx
  src/pages/VanillaForm/script.js
  src/pages/VanillaForm/styles.css
  src/pages/VanillaMemoji/index.jsx
  src/pages/VanillaMemoji/script.js
  src/routes.js
Due: eslint --fix, stylelint --fix

Add Popup and Timer components
  src/components/MemojiContent/components/Game/gameData.js
  src/components/MemojiContent/components/Game/index.jsx
  src/components/MemojiContent/components/Game/init.js
  src/components/MemojiContent/components/Popup/index.jsx
  src/components/MemojiContent/components/Timer/index.jsx
  src/pages/Joke/components/JokeItem/index.jsx
  src/pages/Joke/components/Product/index.jsx
  src/pages/Joke/index.jsx
  src/pages/Joke/jokeData.js
  src/pages/Joke/products.js
  src/pages/Todo/components/TodoItem/index.jsx
  src/pages/Todo/components/TodoList/index.jsx
  src/pages/Todo/components/TodoList/todosData.js
  src/pages/VanillaMemoji/index.jsx
Due: eslint --fix

Add onChange for TodoItem
  src/components/MemojiContent/components/Popup/components/AnimatedWord/index.jsx
  src/components/MemojiContent/components/Popup/components/AnimatedWord/styles.css
  src/components/MemojiContent/components/Popup/index.jsx
  src/components/MemojiContent/components/Popup/styles.css
  src/pages/Joke/components/JokeItem/index.jsx
  src/pages/Joke/index.jsx
  src/pages/Todo/components/TodoItem/index.jsx
Due: eslint --fix, stylelint --fix

Add handleChange for TodoItem
  src/components/MemojiContent/components/Popup/index.jsx
  src/pages/Todo/components/TodoItem/index.jsx
  src/pages/Todo/components/TodoList/index.jsx
Due: eslint --fix

Add styles for Todo
  src/pages/Joke/components/JokeItem/index.jsx
  src/pages/Joke/components/Product/index.jsx
  src/pages/Joke/index.jsx
  src/pages/Todo/components/TodoItem/index.jsx
  src/pages/Todo/components/TodoItem/styles.css
  src/pages/Todo/components/TodoList/index.jsx
  src/pages/Todo/components/TodoList/styles.css
Due: eslint --fix, stylelint --fix

renew deps
  package-lock.json
  package.json
  src/components/FormContent/index.jsx
  src/components/MemojiContent/components/Game/index.jsx
  src/pages/Joke/components/JokeItem/index.jsx
  src/pages/Joke/components/Product/index.jsx
  src/pages/Joke/index copy.jsx
  src/pages/Joke/index.jsx
  src/pages/Todo/components/TodoItem/index.jsx
  src/pages/Todo/components/TodoItem/styles.css
Due: eslint --fix, stylelint --fix

Work with form
  src/pages/Joke/index.jsx
Due: eslint --fix

Work with form
  src/components/FormContent/index.jsx
  src/pages/Joke/index copy.jsx
  src/pages/VanillaForm/index.jsx
  src/pages/VanillaForm/script.js
Due: eslint --fix

Add MemeGenerator
  src/components/App.jsx
  src/components/FormContent/index.jsx
  src/pages/Joke/components/JokeItem/index.jsx
  src/pages/Joke/components/Product/index.jsx
  src/pages/Joke/index.jsx
  src/pages/Joke/products.js
  src/pages/MemeGenerator/components/MemeContent/index.jsx
  src/pages/MemeGenerator/components/MemeHeader/index.jsx
  src/pages/MemeGenerator/index.jsx
  src/pages/MemeGenerator/styles.css
Due: eslint --fix, stylelint --fix

Add MemeGenerator useEffect
  src/pages/MemeGenerator/components/MemeContent/index.jsx
Due: eslint --fix

Add CommonModelMemoji
  babel.config.cjs
  package-lock.json
  package.json
  src/components/App.jsx
  src/components/MemojiContent/components/Timer/index.jsx
  src/components/MemojiWrapper/index.jsx
  src/components/MemojiWrapper/styles.css
  src/pages/CommonModelMemoji/index.jsx
  src/pages/VanillaMemoji/commonStyles.css
  src/pages/VanillaMemoji/components/Card/index.jsx
  src/pages/VanillaMemoji/components/Card/script.js
  src/pages/VanillaMemoji/components/Game/gameData.js
  src/pages/VanillaMemoji/components/Game/index.jsx
  src/pages/VanillaMemoji/components/Game/init.js
  src/pages/VanillaMemoji/components/Game/styles.css
  src/pages/VanillaMemoji/components/Popup/script.js
  src/pages/VanillaMemoji/components/Popup/styles.css
  src/pages/VanillaMemoji/components/Timer/script.js
  src/pages/VanillaMemoji/components/Timer/styles.css
  src/pages/VanillaMemoji/index.jsx
  src/routes.js
Due: eslint --fix, stylelint --fix

Todo edit
  src/components/App.jsx
  src/components/MemojiContent/components/Popup/components/AnimatedWord/index.jsx
  src/components/MemojiContent/components/Popup/styles.css
  src/pages/Mult/styles.css
  src/pages/Todo/components/TodoItem/index.jsx
  src/pages/Todo/components/TodoItem/styles.css
  src/pages/Todo/components/TodoList/index.jsx
  static/global.css
  static/index.html
Due: eslint --fix, stylelint --fix

issue5: clean up VanillaMemoji
  src/components/App.jsx
  src/components/MemojiWrapper/styles.css
  src/pages/VanillaMemoji/commonStyles.css
  src/pages/VanillaMemoji/components/Card/index.jsx
  src/pages/VanillaMemoji/components/Game/gameData.js
  src/pages/VanillaMemoji/components/Game/index.jsx
  src/pages/VanillaMemoji/components/Game/styles.css
  src/pages/VanillaMemoji/components/Popup/styles.css
  src/pages/VanillaMemoji/components/Timer/styles.css
  src/pages/VanillaMemoji/index.jsx
  src/pages/VanillaMemoji/store/Card.js
  src/pages/VanillaMemoji/store/Popup.js
  src/pages/VanillaMemoji/store/Timer.js
  src/pages/VanillaMemoji/store/init.js
  src/pages/VanillaMemoji/styles.css
  src/store/memoji/Card.js
  src/store/memoji/Game.js
  src/store/memoji/Popup.js
  src/store/memoji/Timer.js
  static/global.css
Due: eslint --fix, stylelint --fix

Add styles
  src/components/App.jsx
  src/components/FormContent/index.jsx
  src/components/FormContent/styles.css
  src/components/MemojiContent/components/Popup/styles.css
  src/components/MemojiContent/styles.css
  src/components/MemojiWrapper/styles.css
  src/pages/Harvest/index.jsx
  src/pages/Harvest/styles.css
  src/pages/Index/index.jsx
  src/pages/Index/styles.css
  src/pages/Kittens/styles.css
  src/pages/MemeGenerator/components/MemeContent/index.jsx
  src/pages/MemeGenerator/components/MemeContent/styles.css
  src/pages/MemeGenerator/components/MemeHeader/index.jsx
  src/pages/MemeGenerator/components/MemeHeader/styles.css
  src/pages/MemeGenerator/index.jsx
  src/pages/Mult/index.jsx
  src/pages/Mult/styles.css
  src/pages/Todo/index.jsx
  src/pages/Todo/styles.css
  src/pages/VanillaMemoji/styles.css
  static/global.css
Due: eslint --fix, stylelint --fix

Add HarvestItem and HarvestRadio components
  src/pages/Harvest/components/HarvestItem/index.jsx
  src/pages/Harvest/components/HarvestItem/styles.css
  src/pages/Harvest/components/HarvestRadio/index.jsx
  src/pages/Harvest/index.jsx
  src/pages/Harvest/styles.css
Due: eslint --fix, stylelint --fix

Add dynamic routes mapping
  src/components/App.jsx
  src/components/FormContent/styles.css
  src/components/Main/componentsByPath.js
  src/components/Main/index.jsx
  src/components/Main/styles.css
  src/components/Nav/index.jsx
  src/components/Nav/styles.css
  src/routes.js
  src/server.js
  static/global.css
Due: eslint --fix, stylelint --fix

Fix validation in react form
  src/components/FormContent/components/Form/index.jsx
  src/components/FormContent/components/Form/styles.css
  src/components/FormContent/components/Input/index.jsx
  src/components/FormContent/fields.js
  src/components/FormContent/index.jsx
  src/pages/CommonModelMemoji/components/Popup.js
  src/pages/CommonModelMemoji/components/Timer.js
  src/pages/CommonModelMemoji/styles.css
  src/store/memoji/Card.js
  src/store/memoji/Game.js
Due: eslint --fix, stylelint --fix

Fix react form errors
  src/components/FormContent/components/Form/index.jsx
  src/components/FormContent/components/Input/index.jsx
  src/components/FormContent/index.jsx
  src/pages/Form/components/Form/index.jsx
  src/pages/Form/components/Form/styles.css
  src/pages/Form/components/Input/index.jsx
  src/pages/Form/fields.js
  src/pages/Form/index.jsx
  src/pages/Form/styles.css
  src/pages/VanillaForm/index.jsx
  src/utils/index.js
  src/utils/validate.js
Due: eslint --fix, stylelint --fix

Fix VanillaForm component
  src/pages/Form/components/Form/index.jsx
  src/pages/Form/components/Form/styles.css
  src/pages/Form/components/Input/index.jsx
  src/pages/Form/components/Input/styles.css
  src/pages/Form/styles.css
  src/pages/VanillaForm/index.jsx
  src/pages/VanillaForm/init.js
  src/pages/VanillaForm/script.js
  src/pages/VanillaForm/styles.css
Due: eslint --fix, stylelint --fix

latest vanilla form fixes
  src/client.jsx
  src/components/App/index.jsx
  src/components/App/styles.css
  src/pages/Form/components/Input/index.jsx
  src/pages/VanillaForm/init.js
Due: eslint --fix, stylelint --fix

Add DOM components to CommonModelMemoji
  src/components/MemojiContent/components/Game/index.jsx
  src/components/MemojiContent/components/Popup/styles.css
  src/components/MemojiContent/styles.css
  src/pages/CommonModelMemoji/commonStyles.css
  src/pages/CommonModelMemoji/components/Card/index.js
  src/pages/CommonModelMemoji/components/Game/gameData.js
  src/pages/CommonModelMemoji/components/Game/index.js
  src/pages/CommonModelMemoji/components/Popup/index.js
  src/pages/CommonModelMemoji/components/Timer/index.js
  src/pages/VanillaMemoji/store/Timer.js
Due: eslint --fix, stylelint --fix

Edit CommonModelMemoji
  src/pages/CommonModelMemoji/commonStyles.css
  src/pages/CommonModelMemoji/components/Card/index.js
  src/pages/CommonModelMemoji/components/Game/index.js
  src/pages/CommonModelMemoji/components/Game/styles.css
  src/pages/CommonModelMemoji/components/Popup/index.js
  src/pages/CommonModelMemoji/components/Timer/index.js
  src/pages/CommonModelMemoji/index.jsx
  src/pages/CommonModelMemoji/styles.css
  src/pages/VanillaMemoji/index.jsx
Due: eslint --fix, stylelint --fix

del menu
  src/pages/VanillaMemoji/components/Game/gameData.js
  src/pages/VanillaMemoji/store/init.js
Due: eslint --fix

test
  src/pages/CommonModelMemoji/components/Card/index.js
  src/pages/CommonModelMemoji/components/Card/styles.css
  src/pages/CommonModelMemoji/components/Game/gameData.js
  src/pages/CommonModelMemoji/components/Game/index.js
  src/pages/CommonModelMemoji/index.jsx
  src/routes.js
  src/store/memoji/Card/index.js
  src/store/memoji/Game/icons.js
  src/store/memoji/Game/index.js
  src/store/memoji/Timer/index.js
Due: eslint --fix, stylelint --fix

test
  src/routes.js
Due: eslint --fix

Add onClickCard method for Game component
  src/pages/CommonModelMemoji/components/Card/index.js
  src/pages/CommonModelMemoji/components/Game/index.js
  src/routes.js
  src/store/memoji/Game/index.js
Due: eslint --fix

Add render for Game and Card
  src/pages/CommonModelMemoji/components/Card/index.js
  src/pages/CommonModelMemoji/components/Game/index.js
  src/store/memoji/Card/index.js
  src/store/memoji/Game/index.js
Due: eslint --fix

Fix lint-staged warning (remove git add)
  .lintstagedrc.yml
Due: none

Add Popup
  src/pages/CommonModelMemoji/components/Card/index.js
  src/pages/CommonModelMemoji/components/Game/index.js
  src/pages/CommonModelMemoji/components/Popup/index.js
  src/pages/CommonModelMemoji/components/Popup/styles.css
  src/pages/CommonModelMemoji/components/Timer/index.js
  src/pages/CommonModelMemoji/components/Timer/styles.css
  src/pages/CommonModelMemoji/index.jsx
  src/store/memoji/Game/index.js
  src/store/memoji/Timer/index.js
Due: eslint --fix, stylelint --fix

Add onChange for Popup, Timer, Card and Game
  src/pages/CommonModelMemoji/components/Card/index.js
  src/pages/CommonModelMemoji/components/Game/index.js
  src/pages/CommonModelMemoji/components/Popup/index.js
  src/pages/CommonModelMemoji/components/Popup/styles.css
  src/pages/CommonModelMemoji/components/Timer/index.js
  src/pages/CommonModelMemoji/components/Timer/styles.css
  src/pages/VanillaMemoji/styles.css
  src/store/memoji/Card/index.js
  src/store/memoji/Game/index.js
  src/store/memoji/Timer/index.js
Due: eslint --fix, stylelint --fix

Add closing state for Game
  src/pages/CommonModelMemoji/components/Game/index.js
  src/store/memoji/Game/index.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{cjs,js,jsx}
  stylelint --fix: any of: *.css
