Repository RikoGit/kladde: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Add ReduxMemoji
  package-lock.json
  package.json
  src/components/Main/index.jsx
  src/pages/ReduxMemoji/actions.js
  src/pages/ReduxMemoji/constants.js
  src/pages/ReduxMemoji/index.jsx
  src/pages/ReduxMemoji/reducer.js
  src/pages/ReduxMemoji/store.js
  src/routes.js
Due: eslint --fix

Complited reducer
  src/pages/ReduxMemoji/actions.js
  src/pages/ReduxMemoji/reducer.js
  src/pages/ReduxMemoji/utils.js
Due: eslint --fix

Redux page fix
  src/pages/ReduxMemoji/actions.js
  src/pages/ReduxMemoji/components/Game/index.jsx
  src/pages/ReduxMemoji/components/Popup/index.jsx
  src/pages/ReduxMemoji/reducer.js
  src/pages/ReduxMemoji/utils.js
  src/store/memoji/Timer/index.js
Due: eslint --fix

Add Simon in progress
  package-lock.json
  package.json
  src/components/Main/componentsByPath.js
  src/pages/ReduxMemoji/components/Game/index.jsx
  src/pages/ReduxMemoji/index.jsx
  src/pages/ReduxMemoji/reducer.js
  src/pages/Simon/actions.js
  src/pages/Simon/components/Audio/index.jsx
  src/pages/Simon/components/Audio/styles.css
  src/pages/Simon/components/Boxes/boxesData.js
  src/pages/Simon/components/Boxes/index.jsx
  src/pages/Simon/components/Boxes/styles.css
  src/pages/Simon/components/Game/index.jsx
  src/pages/Simon/components/Game/styles.css
  src/pages/Simon/components/Modes/index.jsx
  src/pages/Simon/components/Modes/modes.js
  src/pages/Simon/components/Modes/styles.css
  src/pages/Simon/index.jsx
  src/pages/Simon/reducer.js
  src/pages/Simon/store.js
  src/pages/Simon/styles.css
  src/pages/Todo/components/TodoList/index.jsx
  src/routes.js
Due: eslint --fix, stylelint --fix

Hidden simon
  src/components/Main/componentsByPath.js
  src/routes.js
Due: eslint --fix

test
  src/components/Main/componentsByPath.js
  src/routes.js
Due: eslint --fix

test
  package.json
Due: none

Delete Boxes connect
  package.json
  src/pages/Simon/components/Boxes/index.jsx
  src/pages/Simon/components/Game/index.jsx
Due: eslint --fix

Add sounds for Simon, add modes onChange and audio play
  README.md
  src/pages/Simon/actions.js
  src/pages/Simon/components/Audio/index.jsx
  src/pages/Simon/components/Game/index.jsx
  src/pages/Simon/components/Modes/index.jsx
  src/pages/Simon/reducer.js
  static/sounds/1.mp3
  static/sounds/1.ogg
  static/sounds/2.mp3
  static/sounds/2.ogg
  static/sounds/3.mp3
  static/sounds/3.ogg
  static/sounds/4.mp3
  static/sounds/4.ogg
Due: eslint --fix

Fix error with audio play
  src/pages/Simon/components/Audio/index.jsx
Due: eslint --fix

version +
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.{cjs,js,jsx}
  stylelint --fix: any of: *.css
